<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">

        <div class="form-group">
          <label for="email" >Email</label>
          <input
            type="email"
          id="email"
          name="email"
          class="form-control"
          ngModel
          required
            email
          #email = "ngModel"
          [ngClass]="{'data-invalid' : !email.valid && email.touched}">
          <strong *ngIf="!email.valid && email.touched">Please enter valid email!</strong>
        </div>

            <div class="form-group">
              <label for="password" >Password</label>
              <input
                id="password"
                name="password"
                class="form-control"
                type="password"
                required
               [(ngModel)]="password"
                #passwordCtrl = "ngModel"
                (ngModelChange)="onPasswordChange()"
                [ngClass]="{'data-invalid' :(!passwordValid || !passwordCtrl.valid) && passwordCtrl.touched}">
              <strong *ngIf="(!passwordValid || !passwordCtrl.valid) && passwordCtrl.touched">
                Please enter valid Password!(Password should be at least 7 charecters long)
              </strong>

            </div>

          <div class="form-group">
            <label for="confirmpassword" >Confirm password</label>
            <input
              id="confirmpassword"
              name="confirmpassword"
              class="form-control"
              type="password"
              required
              [(ngModel)]="confirmPassword"

            ngModel
              #passwordConfirmCtrl = "ngModel"
            (ngModelChange)="onConfirmPasswordChange()"
            [ngClass]="{'data-invalid' :(!passwordConfirmValid || !passwordConfirmCtrl.valid) && passwordConfirmCtrl.touched}">
            <strong *ngIf="(!passwordConfirmValid || !passwordConfirmCtrl.valid) && passwordConfirmCtrl.touched">
              Passwrods are not matched!
            </strong>


          </div>

        </div>

        <div class="form-group col-xs-12" >
          <label>Option</label>
          <div class="radio" *ngFor="let option of options" >
            <input
              name="option"
              [value]="option"
              type="radio"
              [ngModel]="defaultOption"
            />
            {{option}}
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.valid || !passwordValid || !passwordConfirmValid">Submit</button>
      </form>
    </div>
    <hr/>
    <div class="row" *ngIf="submitted">
      <div class="col-xs-12">
      <p>Email:{{user.email}}</p>
      <p>Option:{{user.option}}</p>
    </div>
    </div>
  </div>
</div>
